PORT=
DATABASE_URL=postgres://postgres:postgres@localhost:5432/kbh?sslmode=disable
AUDIO_STORAGE_PATH=./data/audio
LLM_API_KEY=
LLM_PROVIDER=gemini
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
TTS_API_KEY=
JINA_AI_API_KEY=
FIRECRAWL_API_KEY=
VOICEVOX_ENGINE_URL=http://localhost:50021
